body {
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url("ashley-whitlatch-36aGnv29Ss0-unsplash.jpg");
    background-size: cover;
    height: 100vh; 
    flex-direction: column;
  }
  
  .navBar {
    position: sticky;
    top: 0;
    margin-bottom:20px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 50px;
    
    z-index: 1000; /* Ensure navBar stays on top */
    width: 100%; /* Make sure navBar spans the full width */
  }

  .navBar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
  }

  .vidClass{
    flex-grow: 1;
  }

  .navBar ul li {
    margin-right: 20px;
    color: #FFF;
    padding: 14px;
  }

  .navBar ul li:hover {
    background-color: #FFF;
    color: black;
  }

  .navBar h2 {
    color: #FFF;
    margin-left: 10px;
  }

  footer{
    text-align: center;
    background-color: black;
    color: #FFF;
  }